.hangman-drawing-cover{
  position: relative;

}


.top-bar{
  height: 10px;
  width: 150px;
  background: black ;
  margin-left: 120px;
}
.small-verical-bar{
  position: absolute;
  height: 40px;
  width: 10px;
  
  background: black;
  right:0
}
.vertical-bar{
  
  height: 400px;
  width: 10px;
  background: black;
  margin-left: 120px;
}

.bottom-bar{
  height: 10px;
  width: 250px;
  background: black ;
  border-radius:30px;
}

.hangman-word-container{
  font-weight: bold;
  text-transform: capitalize;
  font-family: monospace;
  font-size: 3rem;
  letter-spacing: .3em;
}
.key-box{
 
  margin: 10px;
}
.keyboard-key{
  text-transform: capitalize;
 border: 1px solid black;
  font-size:20px;
  padding: 10px 20px;
  width: 60px;
  font-family: "Raleway", sans-serif;
  aspect-ratio: 1 /1;
  font-weight: bold;
  cursor: pointer;
  color: black;
  border-radius: 12px;
  background-color: transparent;
}
.keyboard-key:hover:not(:disabled),.keyboard-key:focus:not(:disabled){
  background-color: hsl(200, 100%, 78%);
}
.keyboard-key.hover{
  background-color: hsl(200, 100%, 78%) !important;
  color: #fff;
}
.keyboard-key.active{
  background-color: hsl(200, 100%, 50%);
  color: #fff;
}
.keyboard-key.inactive{
 opacity: .3;}

 .lose-win{
  padding: 20px;
  width: 100% !important;
  
 }
.lose-win h5{
  font-family: "Raleway", sans-serif;
}
.lose-win p{
  font-family: "Raleway", sans-serif;
}

 @media only screen and (max-width:750px) {
  .top-bar{
    height: 5px;
    width: 75px;
    background: black ;
    margin-left: 120px;
  }
  .small-verical-bar{
    position: absolute;
    height: 30px;
    width: 5px;
    background: black;
    right:50px;
  }
  .vertical-bar{
    height: 200px;
    width: 5px;
    background: black;
    margin-left: 120px;
  }
  
  .bottom-bar{
    height: 5px;
    width: 250px;
    background: black ;
  }

  .head{
    width: 25px !important;
    height: 25px !important;
    border: 4px solid #000 !important;
    top: 30px  !important;
    right: 40px !important;
  }
  .body{
    width: 5px !important;
    height: 55px !important;
    
    top: 55px  !important;
    right: 50px !important;
  }
  .left-arm{
    width: 5px !important;
    height: 55px !important;
    
    top: 35px  !important;
    right: 50px !important;
  }
  
  .right-arm{
    width: 5px !important;
    height: 55px !important;
    
    top: 35px  !important;
    right: 50px !important;
  }
  .right-leg{
    width: 50px !important;
    height: 5px !important;
    top: 105px !important;
    right: 5px !important;
  }
  .left-leg{
    width: 50px !important;
    height: 5px !important;
    top: 105px !important;
    right: 50px !important;
  }
  
  .keyboard-key{
    text-transform: capitalize;
   border: 0.1px solid black;
    font-size:14px;
    padding: 8px;
    width: 40px;
    aspect-ratio: 1 /1;
    font-weight: bold;
    cursor: pointer;
    color: red;
    background-color: transparent;
  }

  
.hangman-word-container{
  font-weight: bold;
  text-transform: capitalize;
  font-family: monospace;
  font-size: 1.5rem;
  letter-spacing: .3em;
  
}
 }